/* external css: flickity.css */

* { box-sizing: border-box; }

body { font-family: sans-serif; }


.nav{
	
	font-family: 'Open Sans', sans-serif;
	z-index: 2;
	margin: 0 auto;
	width: 80%;
	top:0;
	left:0;
	right: 0;
	margin-top: 3%;
	position: fixed;
	
	-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
	
 }
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
	font-family: 'Open Sans', sans-serif;
    float: left;
	font-size: 11pt;
	display: inline-block;
	width: auto;
}

.carousel {
  background: #fff;
}

 .carousel-cell img{
  width: 100%;
  height: 100%;
  margin-right: 10px;
  counter-increment: carousel-cell;
}

.carousel.is-fullscreen .carousel-cell {
  height: 100%;
}
/* cell number */
.carousel-cell:before {
  display: relative;
  text-align: center;
  content: counter(carousel-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.carousel-image {
  display: block;
  height: 100%;
  /* set min-width,
     allow images to determine cell width */
  min-width: 150px;
  max-width: 100%;
  margin-right: 10px;
  /* vertically center */
  top: 50%;
  transform: translateY(-50%)
}

.carousel.is-fullscreen .carousel-image {
  height: auto;
  max-height: 100%;
}
.carousel-cell-image {
  transition: opacity 0.4s;
  opacity: 0;
}

.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
  opacity: 1;
}